/* 主题选色器色块示意 */
.swatch-zinc {
  background-color: oklch(0.552 0.016 285.938);
}
.swatch-red {
  background-color: oklch(0.577 0.245 27.325);
}
.swatch-orange {
  background-color: oklch(0.646 0.222 41.116);
}
.swatch-green {
  background-color: oklch(0.527 0.154 150.069);
}
.swatch-blue {
  background-color: oklch(0.488 0.243 264.376);
}
.swatch-violet {
  background-color: oklch(0.491 0.27 292.581);
}
.swatch-rose {
  background-color: oklch(0.588 0.233 12.35);
}
